<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.engtrcard.vdtgk.eng_trkartlar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7450156975867757~5501908855" />

        <activity android:name=".activities.MainActivity2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Card" />
        <activity android:name=".activities.activity_menu" />
        <activity android:name=".activities.activity_select_card" />
        <activity android:name=".activities.activity_card_tr" />
        <activity android:name=".activities.DicActivity" />
        <activity android:name=".activities.CardActivity"></activity>
    </application>

</manifest>